body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dee4e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-right {
  margin-right: 1.25em;
}
